In [4]:
# Import required packages
import pandas as pd

In [5]:
# Files to load and output (Remember to change these)
boss_df = "employee_data.csv"
out_df = "employee_data_reformatted.csv"

In [6]:
# Dictionary of states with abbreviations
us_state_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
}

In [7]:
# Placeholders for re-formatted contents
#emp_ids = []
#emp_first_names = []
#emp_last_names = []
#emp_dobs = []
#emp_ssns = []
#emp_states = []

In [8]:
# Read the csv and convert it into a list of dictionaries
boss_df = pd.read_csv(boss_df)
boss_df.head()

   Emp ID              Name         DOB          SSN         State
0     232      John Mathews  1991-02-24  289-31-9165  North Dakota
1     533      Nathan Moore  1978-11-19  220-05-7469         Maine
2     256    Amanda Douglas  1990-01-08  564-27-6961         Idaho
3     189   Heather Andrews  1976-08-11  742-79-1797       Vermont
4     284  Daniel Hernandez  1976-07-22  656-01-7473      Colorado

In [18]:
#boss_df["Name"] = pd.cut(boss_df["First Name":"Last Name"])

boss_df["First Name"] = boss_df["Name"].str.split(0:)

boss_df["Last Name"] = boss_df["Name"].str.split

boss_df.

,Emp ID,Name,DOB,SSN,State,First Name
0,232,John Mathews,1991-02-24,289-31-9165,North Dakota,"[John, Mathews]"
1,533,Nathan Moore,1978-11-19,220-05-7469,Maine,"[Nathan, Moore]"
2,256,Amanda Douglas,1990-01-08,564-27-6961,Idaho,"[Amanda, Douglas]"
3,189,Heather Andrews,1976-08-11,742-79-1797,Vermont,"[Heather, Andrews]"
4,284,Daniel Hernandez,1976-07-22,656-01-7473,Colorado,"[Daniel, Hernandez]"
5,512,Danny Pena,1978-01-31,158-33-9878,Minnesota,"[Danny, Pena]"
6,126,Gary Knight,1994-03-08,782-25-1242,Arkansas,"[Gary, Knight]"
7,556,Robin Carroll,1972-10-14,606-48-7194,California,"[Robin, Carroll]"
8,595,Michelle Dickerson,1984-02-08,707-24-2817,Tennessee,"[Michelle, Dickerson]"
9,191,Kimberly Gallegos,1972-08-05,653-52-7563,Oregon,"[Kimberly, Gallegos]"
10,55,Morgan Parker,1986-01-30,692-70-4320,Tennessee,"[Morgan, Parker]"
11,623,Mason Rhodes,1977-01-28,841-07-4767,Maryland,"[Mason, Rhodes]"
12,426,Amy Griffin,1973-02-18,241-86-1946,Massachusetts,"[Amy, Griffin]"
13,535,Danielle House,1975-04-16,350-25-9308,Maine,"[Danielle, House]"
14,399,Charles Greene,1992-11-28,299-23-2935,Kentucky,"[Charles, Greene]"
15,33,Nicholas Martinez,1979-04-05,122-26-1689,Louisiana,"[Nicholas, Martinez]"
16,302,Tracey Meadows,1988-01-12,642-22-6175,Rhode Island,"[Tracey, Meadows]"
17,325,Renee Evans,1991-03-14,748-42-2708,Montana,"[Renee, Evans]"
18,188,Joseph Estrada,1984-03-29,246-57-2571,Pennsylvania,"[Joseph, Estrada]"
19,184,Jeremy Warner,1987-10-20,423-43-1184,Alabama,"[Jeremy, Warner]"
20,526,Anthony Rodriguez,1983-02-09,843-84-3865,Idaho,"[Anthony, Rodriguez]"
21,85,Kristen Lopez,1978-01-02,364-04-8194,Virginia,"[Kristen, Lopez]"
22,171,Mark Mcdonald,1984-06-27,053-77-0101,Montana,"[Mark, Mcdonald]"
23,74,Robert Freeman,1984-01-01,084-85-5211,Arkansas,"[Robert, Freeman]"
24,69,Michael Reynolds,1994-10-30,592-41-8507,California,"[Michael, Reynolds]"
25,365,Kristine Little,1974-07-10,113-66-1771,South Dakota,"[Kristine, Little]"
26,149,April Barnes,1983-02-15,128-77-3288,Rhode Island,"[April, Barnes]"
27,218,Pamela Hodges,1989-02-19,006-66-1423,Utah,"[Pamela, Hodges]"
28,647,Ronald Gilbert,1974-05-26,457-77-4448,Wyoming,"[Ronald, Gilbert]"
29,518,Thomas Cooper,1972-08-17,212-54-9890,Colorado,"[Thomas, Cooper]"
...,...,...,...,...,...,...
620,491,Leslie Brown,1973-06-15,805-86-1806,New Jersey,"[Leslie, Brown]"
621,114,Maria Chapman,1973-12-20,165-32-7300,Oklahoma,"[Maria, Chapman]"
622,434,Melissa Torres,1981-03-22,484-34-6921,New Mexico,"[Melissa, Torres]"
623,615,Joshua Weaver,1982-11-20,268-48-7030,Iowa,"[Joshua, Weaver]"
624,525,Crystal Martin,1993-08-29,252-45-0679,Maine,"[Crystal, Martin]"
625,44,Sheri Ball,1991-08-04,422-21-7548,Arizona,"[Sheri, Ball]"
626,475,Steven Ritter,1986-02-11,063-53-8004,Ohio,"[Steven, Ritter]"
627,529,Linda Krause,1978-12-22,138-55-4382,South Dakota,"[Linda, Krause]"
628,83,John Myers,1989-07-25,879-93-1869,New Jersey,"[John, Myers]"
629,275,Mark White,1992-09-09,254-67-7830,Idaho,"[Mark, White]"
630,190,Diana Smith,1973-12-02,893-18-3506,Illinois,"[Diana, Smith]"
631,423,Karen Lyons,1990-06-09,244-19-9081,Oklahoma,"[Karen, Lyons]"
632,581,Laura Glenn,1992-10-20,401-57-1468,Texas,"[Laura, Glenn]"
633,177,Diana Spence,1983-09-20,802-85-4751,Massachusetts,"[Diana, Spence]"
634,573,Samantha Farley,1977-07-10,225-05-2351,Washington,"[Samantha, Farley]"
635,46,Kayla Mitchell,1975-10-13,014-15-9155,Wisconsin,"[Kayla, Mitchell]"
636,17,Crystal Myers,1980-12-31,497-13-6532,Ohio,"[Crystal, Myers]"
637,101,Brooke Jones,1979-04-09,200-90-2606,Tennessee,"[Brooke, Jones]"
638,261,John Mueller,1987-03-22,260-56-7849,Maryland,"[John, Mueller]"
639,435,Karla Rosales,1983-07-10,294-95-1729,Illinois,"[Karla, Rosales]"
640,448,Jennifer Brown,1977-08-23,234-83-0700,Massachusetts,"[Jennifer, Brown]"
641,597,Blake Jimenez,1977-09-10,199-95-3810,Kansas,"[Blake, Jimenez]"
642,628,Michael Garcia,1980-11-05,716-14-4294,Illinois,"[Michael, Garcia]"
643,610,Jermaine Quinn,1989-12-24,800-42-1754,California,"[Jermaine, Quinn]"
644,113,Patricia Cruz,1976-04-22,214-78-3822,Indiana,"[Patricia, Cruz]"
645,235,Cameron Mcintosh,1975-02-01,781-82-8921,Nevada,"[Cameron, Mcintosh]"
646,21,Michelle Brewer,1988-06-10,038-84-6836,Oklahoma,"[Michelle, Brewer]"
647,362,Hannah Nolan,1978-09-15,570-46-1332,Oklahoma,"[Hannah, Nolan]"
648,368,Erica Johnson,1978-05-27,620-05-9413,Louisiana,"[Erica, Johnson]"
649,323,Jeremy Obrien,1982-01-13,153-17-7592,Oregon,"[Jeremy, Obrien]"

In [10]:
# Loop through each row, re-grab each field and store in a new list
    for row in reader:

        # Grab emp_ids and store it into a list
        emp_ids = emp_ids + [row[0]]

        # Grab names, split them, and store them in a temporary variable
        split_name = row[1].split(" ")

        # Then save first and last name in separate lists
        # YOUR CODE HERE

        # Grab DOB and reformat it
        # YOUR CODE HERE

        # Then store it into a list
        # YOUR CODE HERE

        # Grab SSN and reformat it
        # YOUR CODE HERE
                
        # Then store it into a list
        # YOUR CODE HERE

        # Grab the states and use the dictionary to find the replacement
        # YOUR CODE HERE

        # Then store the abbreviation into a list
        # YOUR CODE HERE

# Zip all of the new lists together
# YOUR CODE HERE


# Write all of the election data to csv
# YOUR CODE HERE

IndentationError: unexpected indent (<ipython-input-10-8df63d2748ea>, line 7)